h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
  font-family: cursive;
  border-style: double;
  padding:2px;
  border-radius: 2px;
  border-width: 10px;
  border-color: white; 
  font-size: 40px;
  background-color: #09a1a1;
}

body {
  background-color: #c1e3c1;
}
.link {
  color:#09a1a1;
  border-color: #09a1a1;
  border: 6px;
  border-style:double;
  border-radius: 15px;
  text-decoration: none;
  padding: 15px;
  background-color:#fad7d7;
  margin: 45px;
  font-size: 25px;
  width: 80px;
}
